/.idea/
/temperature_converter/.idea/
/temperature_converter/target/
/fibonacci/.idea/
/fibonacci/target/
/christmas_carol/.idea/
/christmas_carol/target/
/median_and_mode/.idea/
/median_and_mode/target/
/pig_latin/.idea/
/pig_latin/target/
/hello_world/
/main_guess_number.rs
